body
    font-family: Arial, Helvetica, sans-serif
    margin: 0
    & h2
        margin: 0

.container
    max-height: 336px
    max-width: 264px
    .flag-container img 
            max-width: 100%
            display: block
            

.information-container
    padding: 25px 15px
    background-color: white
    h2
        font-size: 15px
        font-weight: normal
        padding-top: 10px
    span 
        font-weight: 600

    .countryName
        font-size: 20px
        padding-bottom: 15px
        font-weight: bold




    
