header
    width: 100%
    background-color: #fff
    margin-bottom: 2rem
    nav
        width: 100%
        width: 100%
        list-style: none
        padding: 0 1rem
        margin: 0
        display: flex
        justify-content: space-between
        align-items: center 
        text-align: center
        .logo
            font-family: 'Nunito Sans', sans-serif
            color: #111517
            font-weight: bolder
        button
            display: flex
            justify-content: space-between
            gap: 2rem
            background-color: #fff
            border: 0
